html {
  font-family: "Fira Code", monospace;
  font-size: 16pt;
}

.result-display {
  border: 1px solid black;
  padding: 1rem;
}

.input-field {
  appearance: none;
  font-family: "Fira Code", monospace;
  font-size: 14pt;
  border: 1px solid darkgreen;
  padding: 1rem;
}
